altgraph
configparser
Events
Levenshtein
macholib
Nuitka
ordered-set
packaging
parse
pyinstaller
pyinstaller-hooks-contrib
pyperclip
PySide6
PySide6-Addons
PySide6-Essentials
python-Levenshtein
python-osc
python-rtmidi
rapidfuzz
setuptools
shiboken6
typing_extensions
zstandard
